.taille2{
    height: 70px ;
    width:300px;
    font-size: 2rem;
}
.button{
color: chartreuse;
font-family: 'Assistant', sans-serif;
margin :10px;
margin-bottom: 10%;

}

.borde2{
background-color: #821111;
border-radius: 30px ;

}
body{
    background-image: url(../image/R.jfif);

    background-size: cover;     /* regle limage sur toute la page code en dessous  */


}

/* .position{ */

    /* position:sticky  ; */
    /* left: 50%; */

/* } */


.deplacementbouton{
    position: absolute;
    top: 50%;
    left: 2%;
    /* margin-bottom: 50%; */
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    
}

.deplacementbouton2{
    position: absolute;
     top: 50%; 
     right: 2%;
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-bottom: 50%; */
 } 

/* surkignement  passage curseur  */
 .button:hover{ 

    color: rgb(6, 6, 6); 
    background-color: rgb(140, 68, 9); 
 } 

 a{
    text-decoration: none;  /* enleve le trait bleu entre les boutons  */
 }

 footer{
    position: absolute;
bottom: 0%;
width: 100%;
 }