body{
    background-image: url("../image/the-witcher.jpg");
    background-size: cover;
    background-attachment:fixed;
    background-repeat: no-repeat;
    margin: 0;
}

main{
    margin: 3rem;
    padding: 3rem;
}

section{
    background-color: rgba(255, 255, 255, 0.46);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 3rem;
}

h1{
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

h3{
    text-align: center;
}

#order{
    background-color: gray;
    color: white;
    height: 20px;
    margin-left: 2rem;
}

.flex-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hide{
    text-decoration: none;
    color: #DBA433;
}

.m-5px{
    margin: 5px;
}

.my-10px{
    margin-top: 10px;
    margin-bottom: 10px;
}

#order {
    width: 150px;
    height: 50px;
    background-color: #ADD8E6;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
    font-size: 16px;
    color: #333;
}

#order:hover {
    background-color: #333;
    color: #fff;
}

#order:active {
    background-color: #999;
}


.footer-main {
    background-color: #9a9b9c;
    height: 127px;
  }
  
  #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-NurSÉRIES {
    align-items: center;
  }
  
  .footer-logo {
    margin-bottom: 30px;
  }
  
  .footer-logo p {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .footer-main p .footer-text-links {
    content: "|";
    display: inline-block;
    color: black;
  }
  
  .footer-main p.footer-text-links a {
    display: inline-block;
    text-decoration: none;
    color: black;
  }
  
  .footer-main .footer-text-links a:before {
    content: "|";
    font-size: 25px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-main .footer-text-links .link-1:before {
    content: none;
  }
  
  .footer-haut-page {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  
  .footer-text {
    margin-top: 25px;
  }
  
  .copyright {
    text-align: center;
    font-size: 9px;
    margin-top: 30px;
  }