body {
  background-image: url("https://wallpapercave.com/wp/wp2141407.jpg");
  background-size: 2300px;
  background-repeat: no-repeat; 
  background-position: top center;
  background-attachment: fixed;
  
/* font-family: 'Roboto', sans-serif; */

}
main{
  background-color: rgba(255, 255, 255, 0.568);
  height: 900px;
  /* width: ; */
  /* margin-left: 10%;
  margin-right: 10%; */
  padding-bottom: 50px;
  margin-top: 50px;
  border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.568) ;

}
.text-center{
    text-align: center;
}

.marge{
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 20px;
}

.ligne{
     display: flex;
    /* flex-direction: row; */
    justify-content: center;
}
h1{
    font-size: 50px;
    padding-top: 40px;
    
  }
  
.p{
    font-size: 20px;
  }
  

.button {
    background-color: #bcbbb3;
    color: rgb(1, 1, 12);
    border: solid 1px;
    border-color: #bcbbb3;
    box-shadow: 1px 1px 6px #96958f ;
    border-radius: 10px;
    padding: 10px;
    /* position: relative; */
    text-transform: uppercase;
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
}
/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

:root {
  --color-primary: #D6E5D3;
  --color-secondary: #C5DAC1;
  --color-tertiary: #BCD0C7;
  --color-quaternary: #A9B2AC;
  --color-quinary: #898980;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

/* body {
  min-height: 100vh;
  font-family: canada-type-gibson, sans-serif;
  font-weight: 300;
  font-size: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  background-color: #eff8e2;
} */

/* .content {
  display: flex;
  align-content: center;
  justify-content: center;
} */

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size:100px;
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* //color: transparent;
  //background-color: white;
  //background-clip: text; */
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}
