header{
    
    background-image: url(https://i0.wp.com/theplanetd.com/images/game-of-thrones-season-6-poster.jpeg);
    padding: 280px;
    margin-right: 1px;
    
}
body {
  font-family: 'Roboto', sans-serif;
    background-color: #F5F5F5;
    margin: 0px;
    overflow-x: hidden;
}

h1{
    font-size: 50px;
    /* padding-top: 40px; */
    color: white;
    margin-left: 100px;
    font-family: 'Sora', sans-serif;
    font-weight: 700;

  }
  h2{
  color: white;  
  margin-left: 100px;
  }

.header-size{
    height: 400px;
    top : 390px
}

.border{
    border-radius: 10px;
  }

  .color{
    /* font-size: 20px; */
    color: #545454;
 
  }

  .top{
    margin-top: 150px;
    margin-left: 280px;
    /* display: flex;
    justify-content: flex-start; */
  }

  .flex{
    display: flex;
    justify-content: flex-start;
    position: absolute;

  }
  .centrer{
  margin-left: 100px;
 }
 article{
    background-color: white;
    margin-right:200px ;
    margin-left: 65px;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    /* display: flex;
    align-items: flex-start; */
 }
 aside{
  min-width: 280px;
  font-size: 20px;
  /* border-right: solid  #54545463;
  border-width: 1px; */
 }
hr{
    color: #F5F5F5;
    /* border: 10px; */
    /* height: 10px; */
}
 
span{
    font-weight: 500;
    color: black;
    /* font-size: 20px; */
    
}
section {
  background-color: white;
  /* width: 280px; */
  padding: 15px;
  padding-top: 1px;
  display: flex;
  margin-right: 100px;

}
textarea{
  border: solid 2px #545454b4;
  border-radius: 20px;
  padding: 10px;
  resize: none;
}
.rating {
  width: 180px;
}

.rating__star {
  cursor: pointer;
  color: #dabd18b2;
}

.milieu{
  margin-left: 75px;
}