.ratings-wrapper{
    border: thin solid #999;
    display: inline-block;
    margin-bottom: 20px;
 }
 .ratings{
    display: flex;
 }
 .ratings span{
    cursor: pointer;
    transition: color .2s;
    font-size: 50px;
 }
 .ratings span:hover{
    color: orange;
 }
 .ratings span:hover ~ span{
    color: orange;
 }
 .ratings span[data-clicked]{
    color: orange;
 }
 .ratings span[data-clicked] ~ span{
    color: orange;
 }	