.footer-main {
    background-color: #9a9b9c;
  }
  
  #container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .footer-NurSÉRIES {
    margin-top: 25px;
    align-items: center;
  }
  .footer-logo{
    margin-bottom: 20px;
  
  }
  .footer-logo p {
    margin-left: 10px;
    margin-bottom: 20px;
  }
  
  .footer-main p .footer-text-links {
  
    content: "|";
    display: inline-block;
    color: black;
  }
  
  .footer-main p.footer-text-links a {
    margin-top: 20px;
    display: inline-block;
    text-decoration: none;
    color: black;
    
  }
  
  .footer-main .footer-text-links a:before {
    content: "|";
    font-size: 25px;
    left: 0;
    color: black;
    display: inline-block;
    padding-right: 5px;
  
  }
  
  .footer-main .footer-text-links .link-1:before {
    content: none;
  }
  
  .footer-haut-page {
    margin-top: 25px;
    margin-left: 30px;
  }
  
  .footer-main .copyright {
    font-size: 10px;
    text-align: center;
    padding-bottom: 0.01rem;
  }