

.copyright {
  text-align: center;
  font-size: 9px;
  margin-top: 30px;
}


body {
  background-image: url("../image/doc1.jpg");

}

h1 {
  font-size: 80px;
  text-align: center;
  color: white;

}
li {
  font: 1rem 'Fira Sans', sans-serif;
  margin-bottom: 0.5rem;
  color: azure;
  text-align: center;
  width: 1200px;
}

.pseudo {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;
}

.nom {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;
}

.prenom {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;

}

.DdN {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;
}

.mail {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;
}

.password {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;
}

.password {
  border-radius: 15px;
  font-size: 25px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 500px;
  background-color: #3b2eea;
}

.valider {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 0;
  padding: 25px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: xx-large;

}

.valider:hover {
  color: rgb(0, 0, 0);
  background-color: white;
}
p {
    margin: 10px 0;
    padding: 5px;
    border: 1px solid #999;
}


.footer-main {
  background-color: #9a9b9c;
  height: 127px;
}

#container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-NurSÉRIES {
  align-items: center;
}

.footer-logo {
  margin-bottom: 30px;
}

.footer-logo p {
  margin-left: 10px;
  margin-bottom: 20px;
}

.footer-main p .footer-text-links {
  content: "|";
  display: inline-block;
  color: black;
}

.footer-main p.footer-text-links a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

.footer-main .footer-text-links a:before {
  content: "|";
  font-size: 25px;
  left: 0;
  color: black;
  display: inline-block;
  padding-right: 5px;
}

.footer-main .footer-text-links .link-1:before {
  content: none;
}

.footer-haut-page {
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-text {
  margin-top: 25px;
}