body {

  background-image: url("../image/doctor who6.jpg");
  background-size: 1920px 1080px
  font 1rem 'Fira Sans', sans-serif;
  margin: 0;
  background-attachment: fixed;
}                  
h1 {
  font-family: 'Rammetto One Sans', sans-serif;
  font-size: 80px;
  text-align: center;
  color: rgb(4, 0, 16);
}
html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
}

.box {
  max-width: 120vw;
  padding: 30px;
  margin: 0 auto;
  position: relative;
  top: 0%;
  font-size: 0px;
  line-height: 1.5;
  transform: translateY(-50%);
  perspective: 500px;
}

.source {
  color: skyblue;
  margin: 0 auto;
}

.div {
  font: 1rem 'roboto', sans-serif;

  color: azure;
  text-align: left;
  width: 400px;
}

.centrer {
  margin-left: 40%;
}

p {
  font: 1rem 'roboto', sans-serif;
  
  font-size: 18px;
  font-style: italic;
  font-weight: bold;
  color: rgb(0, 59, 111);
  max-width: 400px;
}

.pseudo {
  border-radius: 15px;
  /* opacity: 0.5; */
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;
}

.nom {
  border-radius: 15px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;
}

.prenom {
  border-radius: 15px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;

}

.DdN {
  border-radius: 15px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;
}

.mail {
  border-radius: 15px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;
}

.password {
  border-radius: 15px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;
}

.password {
  border-radius: 15px;
  font-size: 18px;
  text-align: left;
  display: block;
  padding: auto;
  margin-left: auto;
  margin-right: auto;
  color: white;
  width: 300px;
  background-color: #003b6f;
}

.valider {
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 0;
  padding: 25px;
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: xx-large;

}

.valider:hover {
  color: rgb(245, 245, 245);
  background-color: #003b6f;
}