body{
    background-color: #f5f5f5;
}
.img-size{
    height: 50px;
}
.display{
    display: flex;
    flex-direction: row;
    /* justify-content: space-evenly; */
    gap: 10px;
    
}
div{
    margin-left: 300px;
    /* margin-right: 300px; */
    margin-top: 20px;
}
p{
    margin-left: 300px;
    /* margin-right: 300px; */
    margin-top: 20px;
}