body{
    background-image: url("../image/cgu\ 2.jpg");
    background-size: 100%;
    background-attachment: fixed;
 }

.police{
  font-family: 'Roboto', sans-serif;
}

main p{
    margin-left: 15%;
    margin-right: 15%;
    font-size: x-large;
    text-align: center;
 
}

.super-romain{
  text-align: center;
}

