<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accueil</title>
    <link rel="stylesheet" href="../css/acceuil.css">
    <link rel="stylesheet" href="../css/header.css">
</head>
<body>
    <nav class="flex-row align-center">
        <img class="opa img" src="../image/clapet.png " height="120" width="100" alt="" />
        <div>
            <div id="wrap" class="flex-row justify-between align-center"> <!-- grd barre  -->

                <div class="deplacementbouton">
                    <a href="connexion."><button class="taille borde">connexion</button>
                    </a>
                </div>
                <div class="deplacementbouton2">
                    <a href="Inscription"><button class="taille borde">Inscription</button>
                    </a>
                </div>
            </div>

            <div>
                <img class="" src="../image/bande2.png " height="70" width="1290" alt="" />
            </div>

            <div class="text-center">
                <input id="searchbar" type="text" name="search"
                placeholder="Search séries.." value=""
                />
            </div>
        </div>
        <img src="../image/logo NurSÉRIE.png " height="70" width="70" alt=""  />
    </nav>

<main>
<div class="deplacementbouton">

<a href="Quizz"><button class="taille borde">Quizz</button> </a>
<a href="Actualités"> <button class="taille borde">Actualités</button> </a>

</div>

<div class="deplacementbouton2">
    <a href="Top Séries"><button class="taille borde">Liste series</button> </a>
    <a href="Listes Séries"><button class="taille borde ">Top séries </button> </a>
    
</div>
</main>


</body>
</html>