<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NurSÉRIES: accueil</title>
    <link rel="stylesheet" href="../css/acceuil.css">
    <link rel="stylesheet" href="../css/header.css" />

   
  
</head>
<body>
   
    <script src="../js/header.js" type="text/javascript"></script>
<main>
<div class="deplacementbouton">

<a href="Quizz"><button class="taille2 borde2">Quizz</button> </a>
<a href="Actualités"> <button class="taille borde2">Actualités</button> </a>

</div>

<div class="deplacementbouton2">
    <a href="Top Séries"><button class="taille2 borde2">Liste series</button> </a>
    <a href="Listes Séries"><button class="taille2 borde2">Top séries </button> </a>
    
</div>
</main>
<footer class="footer-main">
    <div id="container">
        <div class="footer-logo">
            <p>Suivez-Nous: </p>
            <a href="../view/Page 404.html"><img src="../image/logo FB.png" height="30" width="30"></a>
            <a href="../view/Page 404.html"><img src="../image/logo Twitter.png" height="30" width="30"></a>
            <a href="../view/Page 404.html"><img src="../image/logo Insta.png" height="30" width="30"></a>

        </div>

        <div class="footer-NurSÉRIES">
            <img src="../image/logo NurSÉRIE.png" height="100" width="100">
        </div>

        <div class="footer-text">

            <p class="footer-text-links">
                <a class="link-1" href="../view/Page besoin d'aide.html">Besoin d'Aide</a>
                <a href="../view/page CGU.html">CGU</a>
                <a href="../view/page A propos.html">À Propos</a>
                <a href="../view/contact.html">Nous Contacter</a>
                <a href="../view/partenaire.html">Partenaires</a>
             

            <p class="copyright">NurSÉRIES &copy; 2023</p>

            </p>
        </div>

        <div class="footer-NurSÉRIES">
            <img src="../image/logo NurSÉRIE.png" height="100" width="100">
        </div>

        <div class="footer-haut-page">
            <a class="footer-top" href="#header"><img src="../image/haut de page.png" height="60" width="60"></a>
        </div>
    </div>

</footer>

</body>
</html>