<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>accueil</title>
    <link rel="stylesheet" href="../css/acceuil.css">
</head>
<body>

<div class="deplacementbouton">

<a href="Quizz"><button class="taille borde">Quizz</button> </a>
<a href="Actualités"> <button class="taille borde">Actualités</button> </a>

</div>

<div class="deplacementbouton2">
    <a href="Top Séries"><button class="taille borde">Liste series</button> </a>
    <a href="Listes Séries"><button class="taille borde ">Top séries </button> </a>
    
</div>
    
</body>
</html>