<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/actualites.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/header.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,300;1,500&display=swap"
        rel="stylesheet">

    <title>NurSÉRIES|Actualités des séries</title>
</head>

<body>
    <nav class="flex-row align-center">
        <img class="opa img" src="../img/header/Logo NurSERIE.png" height="120" alt="" />
        <div class="width-ecran">
            <div class="flex-row justify-around align-center">
                    <a href="connexion.html"><button class="taille borde">connexion</button>
                    </a>
                    <a href="inscription.html"><button class="taille borde">Inscription</button>
                    </a>
            </div>

            <div class="flex-row">
                <img class="header-img" src="../img/header/Bandes cinémas.png" alt="" />
            </div>

            <div class="text-center">
                <input id="searchbar" type="text" name="search" placeholder="Search séries.." value="" />
            </div>
        </div>
        <img src="../image/logo NurSÉRIE.png " height="70" width="70" alt="" />
    </nav>
    <script src="../js/header.js" type="text/javascript"></script>

    <main class="background">
        <h2>LES ACTUALITÉS DE VOS SÉRIES PREFÉRÉES</h2>
        <div class="layer">
            <div class="content-center">
                <img src="../img/actualités/the-last-of-us-show-clickers.jpg" alt="the last of us clickers">
                <div class="text">
                    <h4>THE LAST OF US: UN CARTON?</h4>
                    <p>
                        Pour son premier épisode, "The Last of us" a attiré du monde! HBO a enregistré une de ses
                        meilleures
                        audiences depuis plus de dix ans. Des chiffres encourageants et qui ne concernent que le public
                        américains.
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="../img/actualités/Mercredi-sur-Netflix-comment-Tim-Burton-a-t-il-donne-vie-a-La-Chose.jpg">

                <h4>MERCREDI: NOUVELLE SAISON ANNONCÉ</h4>
                <div class="text">
                    <p>
                        Netflix a renouvelé sa série Wednesday pour une saison 2.Même si on n'avait pas trop de doute vu
                        les records de visionnage de la série, c'est maintenant officiel: Mercredi Addams (Jenna Ortega)
                        sera de retour à Nevermore pour continuer ses enquêtes... et son éducation.
                    </p>
                </div>
            </div>


            <div class="content-center">
                <img src="https://www.premiere.fr/sites/default/files/styles/scale_crop_640x360/public/2020-12/boba-fett-tragedy.jpg"
                    alt="Mandalorian">
                <div class="text">
                    <h4>THE MANDALORIAN: PEDRO PASCAL NE VOIT "QUE DALLE" DANS L'ARMURE
                    </h4>
                    <p>
                        Pedro Pascal confesse que c'était encore pire au moment de la première saison, mais "ils ont
                        continué à affiner le costume et à rendre les choses plus confortables pour moi. Mais bon, c'est
                        comme si je devenais aveugle à chaque fois que je l'enfile. Mon souffle fait de la buée partout
                        sur la petite la fente étroite à travers laquelle je suis censé voir. Il n'y a aucune vision
                        périphérique.
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://imgr.cineserie.com/2023/02/pedro-pascal-marion-kart-snl-parodie-the-last-of-us.png?imgeng=/f_jpg/cmpr_0/w_660/h_370/m_cropbox&ver=1"
                    alt="false mario series">
                <div class="text">
                    <h4>UNE SÉRIE MARIO KART PAR LES CRÉATEURS DE THE LAST OF US: LES IMAGES DÉLIRANTES
                    </h4>
                    <p>
                        "It's a me Mario !" Pedro Pascal se glisse dans la peau du moustachu le plus célèbre de la
                        planète pour une bande-annonce incroyable d'une série "Mario Kart" inspirée du carton mondial
                        "The Last of Us"
                    </p>
                </div>
            </div>
            <div class="content-center">
                <img src="https://imgr.cineserie.com/2023/02/matilda-de-angelis-lidia-fait-sa-loi-netflix.png?imgeng=/f_jpg/cmpr_0/w_660/h_370/m_cropbox&ver=1"
                    alt="matilda de angelis">
                <div class="text">
                    <h4>LIDIA FAIT SA LOI: LA SÉRIE NETFLIX EST BASÉE SUR UNE RÉVOLTANTE HISTOIRE VRAIE
                    </h4>
                    <p>Netflix propose à ses abonnés "Lidia fait sa loi", une nouvelle série historique tout droit venue
                        d'Italie, centrée autour d'une femme au destin bien particulier et incarnée par Matilda De
                        Angelis..
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://imgr.cineserie.com/2023/02/sarah-michelle-gellar-wolf-pack.png?imgeng=/f_jpg/cmpr_0/w_660/h_370/m_cropbox&ver=1"
                    alt="sarah michelle gellar wolfpack">
                <div class="text">
                    <h4> WOLF PACK: QUAND SERA DISPONIBLE EN FRANCE LA SÉRIE AVEC SARAH MICHELLE GELLAR?
                    </h4>
                    <p>Sarah Michelle Gellar est de retour dans une série fantastique avec "Wolf Pack", la nouvelle
                        création de Jeff Davis ("Teen Wolf"). Un show disponible prochainement en France sur Paramount+
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://imgr.cineserie.com/2023/02/matthias-schoenaerts-django-canal.png?imgeng=/f_jpg/cmpr_0/w_660/h_370/m_cropbox&ver=1"
                    alt="django">
                <div class="text">
                    <h4>DJANGO : DÉCOUVREZ LA SÉRIE WESTERN DE CANAL+ AVEC MATTHIAS SCHOENAERTS
                    </h4>
                    <p>Avec la série Django, les auteurs cherchent à dépoussiérer un genre phare de l'Histoire du
                        cinéma, tout en rendant hommage à une œuvre de 1966. Ainsi, le programme se veut être une libre
                        adaptation du long-métrage du même nom, réalisé par Sergio Corbucci.
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://seriesaddict.fr/images/news/news-seule/news[20067].jpg" alt="snowpiercer série">
                <div class="text">
                    <h4>SNOWPIERCER: LA DERNIÈRE SAISON ANNULÉE PAR TNT, LA SÉRIE SERA PROPOSÉE AILLEURS
                    </h4>
                    <p>La quatrième saison de Snowpiercer, seule série survivante de la chaîne TNT, ne sera finalement
                        pas diffusée sur la chaîne câblée.

                        Un communiqué de la chaîne explique que TNT ne diffusera pas la saison 4 de Snowpiercer. La
                        décision a été difficile, et la société productrice Tomorrow Studios va tenter de trouver un
                        nouveau diffuseur pour la série.
                    </p>
                </div>
            </div>


            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/You-saison-4-partie-1-fin-explication-netflix-696x367.jpg"
                    alt="Joe série YOU">
                <div class="text">
                    <h4>YOU SAISON 4 : UNE FIN TRAGIQUE POUR JOE ? LA SHOWRUNNER L’ENVISAGE SÉRIEUSEMENT
                    </h4>
                    <p>Alors que la première partie de la quatrième saison vient d’être mise en ligne sur Netflix, Sera
                        Gamble (la showrunner) a récemment partagé ce qu’elle prévoyait pour la fin de la série....
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/Dexter-New-Blood-saison-2-696x392.jpeg"
                    alt="DEXTER">
                <div class="text">
                    <h4>DEXTER NEW BLOOD : DEUX SPIN-OFFS ONT ÉTÉ COMMANDÉS APRÈS L’ANNULATION DE LA SÉRIE
                    </h4>
                    <p>Il y a quelques jours, nous avons appris que la chaîne américaine a décidé de ne pas renouveler
                        Dexter New Blood pour une saison 2. Plusieurs rumeurs affirmaient qu’un spin-off serait produit
                        à la place. Finalement, c’est deux séries dérivées qui arriveront prochainement ! Les audiences
                        de la première saison ont été excellentes mais les producteurs ne souhaitaient pas prendre le
                        risque de prolonger la fiction sans Michael C. Hall.
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/Papa-est-un-chasseur-daliens-netflix-696x392.jpg"
                    alt="papa est un chasseur d'aliens">
                <div class="text">
                    <h4>PAPA EST UN CHASSEUR D’ALIENS : LA NOUVELLE SÉRIE ANIMÉE À VOIR EN FAMILLE SUR NETFLIX
                    </h4>
                    <p>La plateforme de streaming vient de publier sa dernière pépite : une série animée qui plaira aux
                        petits comme aux grands. Mise en scène par Patrick Harpin et Everett Downing.
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/Tokyo-Revengers-saison-2-episode-21-696x366.jpg"
                    alt="Tokyo Revengers">
                <div class="text">
                    <h4>TOKYO REVENGERS SAISON 2 ÉPISODE 2 : QUELLE DATE ET HEURE DE SORTIE SUR DISNEY+ ?
                    </h4>
                    <p>La date de sortie de l’épisode 2 de la saison 2 de Tokyo Revengers a donc été fixée au samedi 14
                        janvier 2023 et normalement il sera mis en ligne à 19h sur Disney+. Il ne reste donc plus que
                        quelques heures à patienter en attendant de pouvoir binge-watcher le second épisode de l’arc «
                        Black Dragon ».
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/La-voie-du-tablier-saison-3-netflix-696x392.jpg"
                    alt="La voie du tablier">
                <div class="text">
                    <h4>LA VOIE DU TABLIER SAISON 3 : NETFLIX A DÉJÀ PLANIFIÉ LA DATE DE SORTIE ?
                    </h4>
                    <p>En effet, depuis ce dimanche 1er janvier 2023, nous avons pu retrouver le « Dragon Immortel »
                        dans son nouveau rôle de père au foyer. Mais qu’en est-il de la saison 3 de La Voie Du Tablier ?
                        L’entreprise américaine a divisé la nouvelle saison en deux parties ! Cinq épisodes
                        supplémentaires devraient donc être rapidement mis en ligne sur Netflix !
                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/chainsaw-man-saison-2-crunchyroll.jpg"
                    alt="Chainsawman">
                <div class="text">
                    <h4>CHAINSAW MAN SAISON 2 : LA DATE DE SORTIE A DÉJÀ ÉTÉ PLANIFIÉE ?
                    </h4>
                    <p>La suite n’a pas encore été officiellement renouvelée par les producteurs mais avec de telles
                        audiences, la saison 2 de Chainsaw Man sera obligatoirement commandée. Le problème risque d’être
                        l’attente jusqu’à la diffusion des nouveaux épisodes. La production n’ayant pas encore commencé,
                        le studio MAPPA devrait avoir besoin d’au moins une année pour mettre en scène douze épisodes
                        supplémentaires.
                    </p>
                </div>
            </div>
            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/Detective-Conan-Apprenti-Criminel-netflix-696x392.webp"
                    alt="Détective Conan">
                <div class="text">
                    <h4>DETECTIVE CONAN APPRENTI CRIMINEL : LE SPIN-OFF PARODIQUE EST DISPONIBLE SUR NETFLIX !
                    </h4>
                    <p>Ce nouveau spin-off est l’adaptation d’un manga imaginé par Kanba Mayuko que l’on ne présente
                        plus. Sept tomes ont été publiés au pays du soleil levant ce qui devrait permettre de mettre en
                        scène plusieurs saisons si les audiences de Detective Conan Apprenti Criminel parviennent à
                        satisfaire les producteurs.


                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="https://serieophile.fr/wp-content/uploads/red-rose-netflix-saison-1-1068x601.jpg"
                    alt="Détective Conan">
                <div class="text">
                    <h4>RED ROSE : APRÈS UN IMMENSE SUCCÈS AU ROYAUME-UNI, LA SÉRIE HORRIFIQUE DÉBARQUE SUR NETFLIX !
                    </h4>
                    <p>La fiction produite par les créateurs de Sex Education et a déjà été diffusée sur la BBC il y a
                        quelques semaines. Le public a été séduit par cette nouvelle série qui a réalisé d’excellentes
                        audiences grâce à son scénario addictif ! Red Rose suivra un groupe d’adolescents qui viennent
                        de télécharger une mystérieuse application.

                    </p>
                </div>
            </div>

            <div class="content-center">
                <img src="../img/partenaire/Romain_super.gif" alt="Superman_Romain">
                <div class="text">
                    <h4>SUPERMAN: UN REBOOT ANNONCÉ?
                    </h4>
                    <p>
                        Suite à des rumeurs, Netflix serait en train de nous concocter une série, sur nul autre que
                        Superman. Nous avons que très peu d'infos, sauf l'acteur qui incarnera ce personnage
                        emblématique,l'acteur en herbe: Romain Wyon.

                    </p>
                </div>
            </div>


    

        </div>
    </main>

    <footer class="footer-main">
        <div id="container">
            <div class="footer-logo">
                <p>Suivez-Nous: </p>
                <a href="../view/Page 404.html"><img src="../image/logo FB.png" height="30" width="30"></a>
                <a href="../view/Page 404.html"><img src="../image/logo Twitter.png" height="30" width="30"></a>
                <a href="../view/Page 404.html"><img src="../image/logo Insta.png" height="30" width="30"></a>

            </div>

            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>

            <div class="footer-text">

                <p class="footer-text-links">
                    <a class="link-1" href="../view/Page besoin d'aide.html">Besoin d'Aide</a>
                    <a href="../view/page CGU.html">CGU</a>
                    <a href="../view/page A propos.html">À Propos</a>
                    <a href="../view/contact.html">Nous Contacter</a>
                    <a href="../view/partenaire.html">Partenaires</a>


                <p class="copyright">NurSÉRIES &copy; 2023</p>

                </p>
            </div>

            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>

            <div class="footer-haut-page">
                <a class="footer-top" href="#"><img src="../image/haut de page.png" height="60" width="60"></a>
            </div>
        </div>

    </footer>











    <script src="header.js" type="text/javascript"></script>

    <script src="../js/actualites.js"></script>
    
</body>

</html>