<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/actualites.css">
    <title>NurSeries actualités des séries</title>
</head>

<body>

    <main class="background">
        <h2>Les actualités de vos séries préférées</h2>

        <div id="first-article">

            <h4>The Last of Us:</h4>

        </div>

        <div id="second-article">

            <h4>Mercredi sur Netflix:</h4>

        </div>


        <div id="third-article">

            <h4>Alice in Borderlands saison 3: La production a débuté et la date de sortie est planifiée?!</h4>

        </div>







    </main>
















    <script src="../js/actualites.js" type="text/javascript"></script>
</body>

</html>