<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/actualites.css">
    <title>NurSeries actualités des séries</title>
</head>

<body>

    <main class="background">
        <h3>Les actualités de vos séries préférées</h3>
        <div class="layer">
            <div class="content-center">
                <img src="/img/actualités/the-last-of-us-show-clickers.jpg" alt="the last of us clickers">
                <div class="text">
                <h6>The Last of Us:</h6>
                <p>
                    Pour son premier épisode, "The Last of us" a attiré du monde! HBO a enregistré une de ses meilleures
                    audiences depuis plus de dix ans. Des chiffres encourageants et qui ne concernent que le public
                    américains.
                </p>
            </div>
            </div>

            <div class="content-center">
                <img src="/img/actualités/Mercredi-sur-Netflix-comment-Tim-Burton-a-t-il-donne-vie-a-La-Chose.jpg">
                <div class="text">
                <h6>Mercredi sur Netflix:</h6>
                <p>
                    Percy Hyne White (Xavier), accusé d'agressions sexuelles et de viols, les fans demandent son renvoi!
                </p>
            </div>
        </div>

            <div class="content-center">
                <img src="/img/actualités/AAAAQSLJ8Kkcgexq1ne_R8NNXLNY4Pkn-RCgmk4-xVrMSoIH6V9ExSXAFh-R4Do5PZJrywJGlgtk1MOmpje2qdsG9zGacZoxCyt69OaOw8OqmqpjoaCe7Sy6eLa5quK6nFF4NN4zC6Q8JBhB0Ufz6M8aNEIs.jpg"
                    alt="alice in borderlands">
<div class="text">
                <h6>Alice in Borderlands saison 3: La production a débuté et la date de sortie est planifiée?!</h6>
                <p>
                    Après une partie de croquet sous haute tension, le jeu est finalement terminé! Est-ce pour autant la
                    fin
                    de cette création originale exceptionnelle? Il reste encore des tonnes de questions sans réponses...
                </p>
            </div>
            </div>
        </div>
      




    
    </main>
</body>

</html>