<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste de toutes nos séries</title>
    <link rel="stylesheet" href="../css/allSeries.css">
</head>
<body>

    <main>

        <div class="flex-row">
            <h1>Toutes les séries</h1>
            <button id="order" >Par date</button>
        </div>

        <section id="allSeries"></section>

    </main>
    
    <footer class="footer-main">
        <div id="container">
            <div class="footer-logo">
                <p>Suivez-Nous: </p>
                <a href="#"><img src="../image/logo FB.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Twitter.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Insta.png" height="30" width="30"></a>
    
            </div>
    
            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>
    
            <div class="footer-text">
    
                <p class="footer-text-links">
                    <a class="link-1" href="#">Besoin d'Aide</a>
                    <a href="#">CGU</a>
                    <a href="#">À Propos</a>
                    <a href="#">Nous Contacter</a>
                    <a href="#">Partenaires</a>
                    <a href="#">Mentions Légales</a>
    
                <p class="copyright">NurSÉRIES &copy; 2023</p>
    
                </p>
            </div>
    
            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>
    
            <div class="footer-haut-page">
                <a class="top" href="#header"><img src="../image/haut de page.png" height="60" width="60"></a>
            </div>
        </div>
    
    </footer>

    <script src="../js/allSeries.js"></script>
</body>
</html>