<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/description.css" />
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/commentaires.css">
  <link rel="stylesheet" href="../css/rating.css">
  <link rel="stylesheet" href="../css/header.css">
  <!-- <link rel="stylesheet" href="../css/truc.css"> -->


  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e8829b28ab.js" crossorigin="anonymous"></script>


  <title> Game of Thrones </title>
</head>

<body>

  <nav class="flex-row align-center">
    <img class="opa img" src="../img/header/Logo NurSERIE.png" height="120" alt="" />
    <div class="width-ecran">
      <div class="flex-row justify-around align-center">
        <a href="../view/connexion.html"><button class="taille borde">connexion</button>
        </a>
        <a href="../view/inscription.html"><button class="taille borde">Inscription</button>
        </a>
      </div>

      <div class="flex-row">
        <img class="header-img" src="../img/header/Bandes cinémas.png" alt="" />
      </div>

      <div class="text-center">
        <input id="searchbar" type="text" name="search" placeholder="Search séries.." value="" />
      </div>
    </div>
    <img src="../image/logo NurSÉRIE.png " height="70" width="70" alt="" />
  </nav>
  
  <header>
    <span class="flex">
      <img id="image" src="../image/gots1.jpg" alt="affiche saison1" class="border header-size" />
      <div class="container">
        <h1 id="nom" class="title">
          <span class="title-word title-word-1">Game</span>
          <span class="title-word title-word-2">of</span>
          <span class="title-word title-word-3">Thrones</span>
        </h1>
        <h2 id="annee">(2011-2019)</h2>
      </div>
      <!-- <div>
        <h1 id="nom">Game of Thrones</h1>
        <h2 id="annee">(2011-2019)</h2>
      </div> -->
    </span>
  </header>

  <main>
    <section class="top">
      <aside>
        <br>

        <span id="genre" class="color"> Fantasy, Drame, Aventure</span> <br> <br> <span id="duree" class="color"> Format
          : 50 min </span><br><br> <span id="nbSaison" class="color"> 8 saisons </span><span id="isFinish"
          class="color">(Terminée)</span> <br><br>
        <div class="color">
          <p class="centrer"> Note :</p>
        </div>
        <p class="color"> Presse : <span id="genre" class="color"> 1,8 </p>
        <div class="color">
          <p class="centrer"> Ma note :</p>
        </div>
        <div class="milieu">
          <div class="ratings-wrapper" class="fond">
            <div data-productid="39" class="ratings">
              <span data-rating="5"> <i class="fa-solid fa-star"></i> </span>
              <span data-rating="4"> <i class="fa-solid fa-star"></i> </span>
              <span data-rating="3"> <i class="fa-solid fa-star"></i> </span>
              <span data-rating="2"> <i class="fa-solid fa-star"></i> </span>
              <span data-rating="1"> <i class="fa-solid fa-star"></i> </span>
            </div>
          </div>
          <!-- <div>
            <button onclick="localStorage.removeItem('rating'); location.reload();" class="reset">Reset Ratings</button>
          </div> -->
        </div>
      </aside>

      <article>
        <div>
          <span class="epaisseur"> Créée par</span> <span id="createur"> David Benioff et D.B. Weiss </span><br><br>
          <span class="epaisseur"> Pays d’origine :</span><span id="pays"> USA </span> <br><br>
          <span class="epaisseur"> Avec :</span> <span id="acteurs">Peter Dinklage, Lena Headey, Emilia Clarke, Kit
            Harington, Sophie Turner, Maisie Williams,
            Nikolaj Coster-Waldau, Iain Glen ....</span><br><br>
          <span class="epaisseur"> Diffuseur :</span><span id="diffuseur"> HBO </span>
        </div>
        <br>
        <hr>
        <br>
        <div>
          <span class="epaisseur"> SYNOPSIS </span>
          <br><br>
          <span id="synopsis">

            Il y a très longtemps, à une époque oubliée, une force a détruit l'équilibre des saisons. Dans un pays où
            l'été peut durer plusieurs années et l'hiver toute une vie, des forces sinistres et surnaturelles se
            pressent
            aux portes du Royaume des Sept Couronnes. Après un été de dix années, un hiver rigoureux s'abat sur le
            Royaume
            avec la promesse d'un avenir des plus sombres. Pendant ce temps, complots et rivalités se jouent sur le
            continent pour s'emparer du Trône de Fer, le symbole du pouvoir absolu.</span>
          <br><br><br><br>
          <!-- <span> Donner mon avis : </span><br><br><br>
          <textarea name="avis" id="avis" cols="100" rows="10" placeholder="...."></textarea><br><br> -->

          <span class="epaisseur"> Avis des spectateurs </span>
          <hr>
          <br><br>

        </div>
        <div class="container">

          <div class="input-group">
            <span class="user-icon">&nbsp;</span>
            <input autocomplete="off" id="main-comment" name="comment" placeholder="Donner mon avis..."
              class="comment-box" />
          </div>

          <div id="comments">

          </div>

        </div>
      </article>
    </section>
    <br><br>
  </main>
  <footer class="footer-main">
    <div id="container">
      <div class="footer-logo">
        <p>Suivez-Nous: </p>
        <a href="../view/Page 404.html"><img src="../image/logo FB.png" height="30" width="30"></a>
        <a href="../view/Page 404.html"><img src="../image/logo Twitter.png" height="30" width="30"></a>
        <a href="../view/Page 404.html"><img src="../image/logo Insta.png" height="30" width="30"></a>

      </div>

      <div class="footer-NurSÉRIES">
        <img src="../image/logo NurSÉRIE.png" height="100" width="100">
      </div>

      <div class="footer-text">

        <p class="footer-text-links">
          <a class="link-1" href="../view/Page besoin d'aide.html">Besoin d'Aide</a>
          <a href="../view/page CGU.html">CGU</a>
          <a href="../view/page A propos.html">À Propos</a>
          <a href="../view/contact.html">Nous Contacter</a>
          <a href="../view/partenaire.html">Partenaires</a>


        <p class="copyright">NurSÉRIES &copy; 2023</p>

        </p>
      </div>

      <div class="footer-NurSÉRIES">
        <img src="../image/logo NurSÉRIE.png" height="100" width="100">
      </div>

      <div class="footer-haut-page">
        <a class="footer-top" href="#"><img src="../image/haut de page.png" height="60" width="60"></a>
      </div>
    </div>

  </footer>

  <script src="../js/starRating.js"></script>
  <!-- <script src="../js/header.js"></script> -->
  <script src="../js/commentaires.js"></script>
  <!-- <script src="../js/description.js"></script> -->




</body>

</html>