<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../css/description.css" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap" rel="stylesheet">

  <title>Document</title>
</head>

<body>
 
    <header>
        <span class="flex" >
        <img src="../image/gots1.jpg" alt="affiche saison1" class="border" />
        <div><h1>Game of Thrones</h1>
        <h2>(2011-2019)</h2></div>
        </span>
    </header>
  
  <main> 
    <aside>
    <div class="top">
        <p>Fantasy, Drame, Aventure <br> <br> Format : 50 min <br><br> 8 saisons (Terminée) <br><br> </p> 
        <p class="centrer"> Note :</p>
        <p> Presse<br> Spectateurs <br></p>
        <p class="centrer"> Ma note :</p>
    </div>
    </aside>

    <article >
        <div>
        Créée par David Benioff et D.B. Weiss <br><br>
        Pays d’origine : USA <br><br>
        Avec :  Peter Dinklage, Lena Headey, Emilia Clarke, Kit Harington, Sophie Turner, Maisie Williams, Nikolaj Coster-Waldau, Iain Glen ....<br><br>
        Diffuseur : HBO
        </div>
        <br>
        <div>
            SYNOPSIS
            <br><br>
            Il y a très longtemps, à une époque oubliée, une force a détruit l'équilibre des saisons. Dans un pays où l'été peut durer plusieurs années et l'hiver toute une vie, des forces sinistres et surnaturelles se pressent aux portes du Royaume des Sept Couronnes.  Après un été de dix années, un hiver rigoureux s'abat sur le Royaume avec la promesse d'un avenir des plus sombres. Pendant ce temps, complots et rivalités se jouent sur le continent pour s'emparer du Trône de Fer, le symbole du pouvoir absolu.
            <br><br><br><br>
            Donner mon avis : <br>
            <!-- <textarea name="avis" id="avis" cols="30" rows="10" placeholder="...."></textarea><br><br> -->
            <!-- bouton vers pop up pour rédiger l'avis. -->
            Avis des spectateurs <hr>
            <br><br>
            
        </div>
    </article>
    <br><br>
  </main>
</body>

</html>