<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/essai.css">
</head>
<body>
    <div class="ratings-wrapper">
        <div data-productid="39" class="ratings">
           <span data-rating="5">★</span>
           <span data-rating="4">★</span>
           <span data-rating="3">★</span>
           <span data-rating="2">★</span>
           <span data-rating="1">★</span>
        </div>
     </div>
     <div class="ratings-wrapper">
        <div data-productid="40" class="ratings">
           <span data-rating="5">★</span>
           <span data-rating="4">★</span>
           <span data-rating="3">★</span>
           <span data-rating="2">★</span>
           <span data-rating="1">★</span>
        </div>
     </div>
      
     <div class="ratings-wrapper">
        <div data-productid="12" class="ratings">
           <span data-rating="5">★</span>
           <span data-rating="4">★</span>
           <span data-rating="3">★</span>
           <span data-rating="2">★</span>
           <span data-rating="1">★</span>
        </div>
     </div>
     <script src="../js/essai.js"></script>
</body>
</html>