<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header.css">

</head>
<body>
    <nav class="flex-row justify-between align-center">

        <input id="searchbar" onkeyup="search_sèries()" type="text"
            name="search" placeholder="Search sèries..">
    <div id="wrap">   <!-- grande barre  -->

         <div class="deplacementbouton">

            <a href="connexion."><button class="taille borde">connexion</button> </a>

        </div>
        <div class="deplacementbouton2">

             <a href="Inscription"><button class="taille borde">Inscription</button> </a>
         </div>

   </div>

   
     
    </nav>
   
</body>
</html>