<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/inscription.css">
    <style>
        /* tabulation  */
        * {
            margin-left: 30px;
            /* marge haut */
            margin-top: 30px;
        }
    </style>
</head>

<body>

    <form action="#">
        <label for="fname">VotrePseudo*:<br>
            <input type="text" placeholder="Pseudo" required>
        </label><br>

        <!-- nom de famille  -->

        <label for="fname">Votre nom*:<br>
            <input type="text" placeholder="nom de famille" required>
        </label><br>

        <!-- Prénom  -->

        <label for="fname">Votre Prénom*:<br>
            <input type="text" placeholder="Prénom" required>
        </label><br>

        <!-- Date de Naissance  -->
        <label for="date">Votre date de Naissance *:<br>
            <input type="date" id="date"" required>
        </label><br>


<!-- Adresse Mail  -->

        <label for=" fname">Votre Adresse Mail*:<br>
            <input type="text" placeholder="E-Mail" required>
        </label><br>

        <!-- Mot de Passe  -->

        <label for="fname">Votre Mot de Passe*:<br>
            <input type="text" placeholder="Mot de Passe" required>
        </label><br>


        <!-- Confirmation Mot de passe  -->

        <label for="fname">Confirmé Votre Mot de Passe*:<br>
            <input type="text" placeholder="Confirmation Mot de Passe" required>
        </label><br>


        <!--   aceptation , refus , envoie ma demande   -->
        <input type="submit" value="Envoyer ma demande">



    </form>
</body>

</html>