<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Rammetto One:wght@500;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/inscription.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">

    <title>NurSÉRIES: Inscription</title>
</head>


<body>

<nav class="flex-row align-center">
            <img class="opa img" src="../image/clapet.png " height="120" width="100" alt="" />
            <div>
                <div id="wrap" class="flex-row justify-between align-center"> <!-- grd barre  -->

                    <div class="deplacementbouton">
                        <a href="connexion."><button class="taille borde">connexion</button>
                        </a>
                    </div>
                    <div class="deplacementbouton2">
                        <a href="Inscription"><button class="taille borde">Inscription</button>
                        </a>
                    </div>
                </div>

                <div>
                    <img class="" src="../image/bande2.png " height="70" width="1290" alt="" />
                </div>

                <div class="text-center">
                    <input id="searchbar" type="text" name="search" placeholder="Search séries.." value="" />
                </div>
            </div>
            <img src="../image/logo NurSÉRIE.png " height="70" width="70" alt="" />
        </nav>
    <main>
        
        
        <h1>INSCRIPTION</h1> >
        <form class="form">
            <p class="centrer">Pseudo*</p>
            <input type="pseudo" class="pseudo" placeholder="" required>
            <p class="centrer">Nom*</p>
            <input type="nom" class="nom" placeholder="" required>
            <p class="centrer">Prénom*</p>
            <input type="prenom" class="prenom" placeholder="" required>
            <p class="centrer">Votre Da&te de Naissance*</p>
            <input type="date" class="DdN" placeholder="" required>
            <p class="centrer">Votre E-Mail*</p>
            <input type="email" class="mail" placeholder="" required>
            <p class="centrer">Votre Mot de passe*</p>
            <input type="password" class="password" placeholder="" required>
            <p class="centrer">Confirmé Votre Mot de passe*</p>
            
            <input type="password" class="password" placeholder="" required>
            
                
                <p class="centrer">* votre mot de passe doit contenir :</p>
                <p class="centrer">1 caractere special</p>
                <p class="centrer">1 majuscule</p>
                <p class="centrer">1 minuscule</p>
                <p class="centrer">8 chiffres</p>
                
                
            </form>
 
            <button class="valider" href="#">valider</button>
        </fieldset><br />
        
    </div>
    
</main>

<footer class="footer-main">
        <div id="container">
            <div class="footer-logo">
                <p>Suivez-Nous: </p>
                <a href="#"><img src="../image/logo FB.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Twitter.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Insta.png" height="30" width="30"></a>
                
            </div>
            
            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>
            
            <div class="footer-text">
                
                <p class="footer-text-links">
                    <a class="link-1" href="../view/Page besoin d'aide.html">Besoin d'Aide</a>
                    <a href="../view/page CGU.html">CGU</a>
                    <a href="../view/page A propos.html">À Propos</a>
                    <a href="../view/contact.html">Nous Contacter</a>
                    <a href="../view/partenaire.html">Partenaires</a>
                    
                    
                    <p class="copyright">NurSÉRIES &copy; 2023</p>
                    
                </p>
            </div>
            
            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>
            
            <div class="footer-haut-page">
                <a class="footer-top" href="#header"><img src="../image/haut de page.png" height="60" width="60"></a>
            </div>
        </div>
        
    </footer>
    <script src="header.js" type="text/javascript"></script>
</body>

</html>



</html>