<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="../css/mdp_oublie.css" />
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/mdp_oublie.css" />
    <link rel="stylesheet" href="../css/footer.css">

  </head>

  <body>
    <main class="container">
      <div class="display">
        <img src="/image/question-mark.png" class="img-size" alt="">
        <h1>Vous avez oublié votre mot de passe </h1>
        <img src="/image/question-mark.png" class="img-size"alt="">
    </div>
      <div> <img src="../img/partenaire/Romain_super.gif" alt=""></div>

      <p>
        Veuillez saisir votre email de connexion afin de recevoir le lien de
        réinitialisation de votre mot de passe.
      </p>
      
      
      <div class="input-group mb-3">
        <input type="email" class="form-control" placeholder="exemple@email.com" aria-label="Recipient's username" aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2" ></button>
      </div>
    </main>

    <!-- <footer class="footer-main">
        <div id="container">
            <div class="footer-logo">
                <p>Suivez-Nous: </p>
                <a href="#"><img src="../image/logo FB.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Twitter.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Insta.png" height="30" width="30"></a>
    
            </div>
    
            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>
    
            <div class="footer-text">
    
                <p class="footer-text-links">
                    <a class="link-1" href="#">Besoin d'Aide</a>
                    <a href="#">CGU</a>
                    <a href="#">À Propos</a>
                    <a href="#">Nous Contacter</a>
                    <a href="#">Partenaires</a>
                    <a href="#">Mentions Légales</a>
    
                <p class="copyright">NurSÉRIES &copy; 2023</p>
    
                </p>
            </div>
    
            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>
    
            <div class="footer-haut-page">
                <a class="top" href="#header"><img src="../image/haut de page.png" height="60" width="60"></a>
            </div>
        </div>
    
    </footer> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
