<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="../css/mdp_oublie.css" />
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="../css/mdp_oublie.css" />
  <link rel="stylesheet" href="../css/footer.css">
  <link rel="stylesheet" href="../css/header.css">


</head>

<body>
  <nav class="flex-row align-center">
    <img class="opa img" src="../image/clapet.png " height="120" width="100" alt="" />
    <div>
        <div id="wrap" class="flex-row justify-between align-center"> <!-- grd barre  -->

            <div class="deplacementbouton">
                <a href="connexion."><button class="taille borde">connexion</button>
                </a>
            </div>
            <div class="deplacementbouton2">
                <a href="Inscription"><button class="taille borde">Inscription</button>
                </a>
            </div>
        </div>

        <div>
            <img class="" src="../image/bande2.png " height="70" width="1290" alt="" />
        </div>

        <div class="text-center">
            <input id="searchbar" type="text" name="search"
            placeholder="Search séries.." value=""
            />
        </div>
    </div>
    <img src="../image/logo NurSÉRIE.png " height="70" width="70" alt=""  />
</nav>

  <main class="container">
    <div class="display">
      <img src="/image/question-mark.png" class="img-size" alt="">
      <h1>Vous avez oublié votre mot de passe </h1>
      <img src="/image/question-mark.png" class="img-size" alt="">
    </div>
    <div class="display"> <img src="../img/partenaire/Romain_super.gif" class="marge_top" height="600" alt=""></div>

    <p class="p">
      Veuillez saisir votre email de connexion afin de recevoir le lien de
      réinitialisation de votre mot de passe.
    </p>

    <div class="div">
      <div class="input-group mb-3 max-right">
        <input type="email" class="form-control" placeholder="exemple@email.com" aria-label="Recipient's username"
          aria-describedby="button-addon2">
        <button class="btn btn-outline-secondary" type="button" id="button-addon2"></button>
      </div>
    </div>
  </main>

  <footer class="footer-main">
    <div id="container">
      <div class="footer-logo">
        <p>Suivez-Nous: </p>
        <a href="#"><img src="../image/logo FB.png" height="30" width="30"></a>
        <a href="#"><img src="../image/logo Twitter.png" height="30" width="30"></a>
        <a href="#"><img src="../image/logo Insta.png" height="30" width="30"></a>

      </div>

      <div class="footer-NurSÉRIES">
        <img src="../image/logo NurSÉRIE.png" height="100" width="100">
      </div>

      <div class="footer-text">

        <p class="footer-text-links">
          <a class="link-1" href="#">Besoin d'Aide</a>
          <a href="#">CGU</a>
          <a href="#">À Propos</a>
          <a href="#">Nous Contacter</a>
          <a href="#">Partenaires</a>
          <a href="#">Mentions Légales</a>

        <p class="copyright">NurSÉRIES &copy; 2023</p>

        </p>
      </div>

      <div class="footer-NurSÉRIES">
        <img src="../image/logo NurSÉRIE.png" height="100" width="100">
      </div>

      <div class="footer-haut-page">
        <a class="top" href="#header"><img src="../image/haut de page.png" height="60" width="60"></a>
      </div>
    </div>

  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</body>

</html>