<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/page A propos.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500;900&display=swap" rel="stylesheet">
    <title> A propos</title>
</head>

<body>

    <main>
        <p class="police">

            NurSÉRIES a été créée en Février 2023 <br />
            par la société SQooL-Mates 2 <br />
            avec l’envie de tester vos connaissances sur quelques séries<br />
            dans un univers de folie et de fun.<br />
            L'équipe se compose de ;<br /><br /><br />

        </p>
        <div class="chef-projet">
            <p class="police">
                Chef de projet: Romain.W<br />
            </p>
        </div>
        <div class="super-romain">
            <img src="../img/partenaire/Romain_super.gif"><br />
        </div>

        <div class="equipe">
            <p class="police">
                Élodie.P<br />
                Tiphaine.L<br />
                Farid.M<br />
                Christophe.B<br />
                Luc.P<br />
                Frédéric.S<br /><br />
            </p>
        </div>
        <p class="police">
            Les membres ont mis leurs compétences et toute leur énergie à l'imagination et la à création de ce site afin de vous divertir.<br />

        </p>
    </main>
    <footer class="footer-main">
        <div id="container">
            <div class="footer-logo">
                <p>Suivez-Nous: </p>
                <a href=""><img src="../image/logo FB.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Twitter.png" height="30" width="30"></a>
                <a href="#"><img src="../image/logo Insta.png" height="30" width="30"></a>

            </div>

            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>

            <div class="footer-text">

                <p class="footer-text-links">
                    <a class="link-1" href="#">Besoin d'Aide</a>
                    <a href="../view/page CGU.html">CGU</a>
                    <a href="../view/page A propos.html">À Propos</a>
                    <a href="../view/contact.html">Nous Contacter</a>
                    <a href="../view/partenaire.html">Partenaires</a>


                <p class="copyright">NurSÉRIES &copy; 2023</p>

                </p>
            </div>

            <div class="footer-NurSÉRIES">
                <img src="../image/logo NurSÉRIE.png" height="100" width="100">
            </div>

            <div class="footer-haut-page">
                <a class="top" href="#"><img src="../image/haut de page.png" height="60" width="60"></a>
            </div>
        </div>

    </footer>


</body>

</html>