<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NurSéries Le Quiz</title>
  <link rel="stylesheet" href="/css/quiz2.css" />


</head>

<body>
  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">



      <h4 id="question">1.Dans la série "The Wire", quel est le personnage préféré de Barack Obama ?</h4>
      <ul>
        <div class="flex ab">

          <li>
            <input type="radio" name="answer" id="a" class="answer" />
            <label for="a" id="a_text">Omar Little</label>
          </li>
          <li>
            <input type="radio" name="answer" id="b" class="answer" />
            <label for="b" id="b_text">Jimmy Mc Nulty</label>
          </li>
        </div>
        <div class="flex cd">


          <li>
            <input type="radio" name="answer" id="c" class="answer" />
            <label for="c" id="c_text">Marlo Stanfield</label>
          </li>
          <li>
            <input type="radio" name="answer" id="d" class="answer" />
            <label for="d" id="d_text">Avon Barksdale</label>
          </li>
        </div>
    </div>
    </ul>
    <button id="submit">Répondre</button>
  </div>

  <script src="../js/quiz.js"></script>



</body>