<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NurSéries Le Quiz</title>
  <link rel="stylesheet" href="/css/quiz2.css" />
  <link rel="stylesheet" href="../css/footer.css">


</head>

<body>
  <main>
    <div class="milieu">
  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">



      <h4 id="question">1.Dans la série "The Wire", quel est le personnage préféré de Barack Obama ?</h4>
      <ul>
        <div class="flex ab">

          <li>
            <input type="radio" name="answer" id="a" class="answer" />
            <label for="a" id="a_text">Omar Little</label>
          </li>
          <li>
            <input type="radio" name="answer" id="b" class="answer" />
            <label for="b" id="b_text">Jimmy Mc Nulty</label>
          </li>
        </div>
        <div class="flex cd">


          <li>
            <input type="radio" name="answer" id="c" class="answer" />
            <label for="c" id="c_text">Marlo Stanfield</label>
          </li>
          <li>
            <input type="radio" name="answer" id="d" class="answer" />
            <label for="d" id="d_text">Avon Barksdale</label>
          </li>
        </div>
    </div>
    </ul>
    <button id="submit">Répondre</button>
  </div></div>
</main>

<footer class="footer-main">
  <div id="container">
      <div class="footer-logo">
          <p>Suivez-Nous: </p>
          <a href="../view/Page 404.html"><img src="../image/logo FB.png" height="30" width="30"></a>
          <a href="../view/Page 404.html"><img src="../image/logo Twitter.png" height="30" width="30"></a>
          <a href="../view/Page 404.html"><img src="../image/logo Insta.png" height="30" width="30"></a>

      </div>

      <div class="footer-NurSÉRIES">
          <img src="../image/logo NurSÉRIE.png" height="100" width="100">
      </div>

      <div class="footer-text">

          <p class="footer-text-links">
              <a class="link-1" href="../view/Page besoin d'aide.html">Besoin d'Aide</a>
              <a href="../view/page CGU.html">CGU</a>
              <a href="../view/page A propos.html">À Propos</a>
              <a href="../view/contact.html">Nous Contacter</a>
              <a href="../view/partenaire.html">Partenaires</a>
           

          <p class="copyright">NurSÉRIES &copy; 2023</p>

          </p>
      </div>

      <div class="footer-NurSÉRIES">
          <img src="../image/logo NurSÉRIE.png" height="100" width="100">
      </div>

      <div class="footer-haut-page">
          <a class="footer-top" href="#"><img src="../image/haut de page.png" height="60" width="60"></a>
      </div>
  </div>

</footer>
  

<script src="../js/quiz.js"></script>
</body>