<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NurSéries Le Quiz</title>
  <link rel="stylesheet" href= "../css/quiz.css" />


</head>
<body>
  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">
        
        <h4 id="question">1.Dans la série "The Wire", quel est le personnage préféré de Barack Obama ?</h4>
        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer" />
                <label for="a" id="answer">Omar Little</label>
            </li>
            <li>
              <input type="radio" name="answer" id="b" class="answer" />
              <label for="b" id="b_text">Jimmy Mc Nulty</label>
          </li>
          <li>
            <input type="radio" name="answer" id="c" class="answer" />
            <label for="c" id="c_text">Marlo Stanfield</label>
        </li>
        <li>
          <input type="radio" name="answer" id="d" class="answer" />
          <label for="d" id="d_text">Avon Barksdale</label>
      </li>
    </div>
    <button id="submit">Répondre</button>
</div>

<div class="quiz-container" id="quiz">
  <div class="quiz-hearder">
      <h4 id="question">2.Quel est l'animal empaillé de JD dans la série "Scrubs" ?</h4>
      <ul>
          <li>
              <input type="radio" name="answer" id="a" class="answer" />
              <label for="a" id="a_text">Un loup</label>
          </li>
          <li>
              <input type="radio" name="answer" id="b" class="answer" />
              <label for="b" id="b_text">Un renard</label>
          </li>
          <li>
              <input type="radio" name="answer" id="c" class="answer" />
              <label for="c" id="c_text">Un chat</label>
          </li>
          <li>
              <input type="radio" name="answer" id="d" class="answer" />
              <label for="d" id="d_text">Un chien</label>
          </li>
      </ul>
  </div>
  <button id="submit">Répondre</button>
</div>
<div class="quiz-container" id="quiz">
  <div class="quiz-hearder">
      <h4 id="question">3.De quelle série est issue la phrase "La Nuit se regroupe et voici que débute ma garde" ?</h4>
      <ul>
          <li>
              <input type="radio" name="answer" id="a" class="answer" />
              <label for="a" id="a_text">Vikings</label>
          </li>
          <li>
              <input type="radio" name="answer" id="b" class="answer" />
              <label for="b" id="b_text">Games of Thrones</label>
          </li>
          <li>
              <input type="radio" name="answer" id="c" class="answer" />
              <label for="c" id="c_text">Marco Polo</label>
          </li>
          <li>
              <input type="radio" name="answer" id="d" class="answer" />
              <label for="d" id="d_text">The Witcher</label>
          </li>
      </ul>
    </div>
    <button id="submit">Répondre</button>
</div>
<div class="quiz-container" id="quiz">
  <div class="quiz-hearder">
      <h4 id="question">4.Comment s'appelle le chef de la police dans la série "Les Simpson" ?</h4>
      <ul>
          <li>
         <input type="radio" name="answer" id="a" class="answer" />
              <label for="a" id="a_text">Otto Bus</label>
          </li>
          <li>
              <input type="radio" name="answer" id="b" class="answer" />
              <label for="b" id="b_text">Clancy Wiggums</label>
          </li>
          <li>
              <input type="radio" name="answer" id="c" class="answer" />
              <label for="c" id="c_text">Ned Flanders</label>
          </li>
          <li>
              <input type="radio" name="answer" id="d" class="answer" />
              <label for="d" id="d_text">William Mc Dougall</label>
          </li>
      </ul>
  </div>
  <button id="submit">Répondre</button>
</div>
<div class="quiz-container" id="quiz">
  <div class="quiz-hearder">
      <h4 id="question">5.De combien d'épisodes est composée la dernière saison de "Breaking Bad" ?</h4>
      <ul>
          <li>
              <input type="radio" name="answer" id="a" class="answer" />
              <label for="a" id="a_text">16</label>
          </li>
          <li>
              <input type="radio" name="answer" id="b" class="answer" />
              <label for="b" id="b_text">15</label>
          </li>
          <li>
              <input type="radio" name="answer" id="c" class="answer" />
              <label for="c" id="c_text">14</label>
          </li>
          <li>
              <input type="radio" name="answer" id="d" class="answer" />
              <label for="d" id="d_text">13</label>
          </li>
      </ul>
  </div>
  <button id="submit">Répondre</button>
</div>

<div class="quiz-container" id="quiz">
    <div class="quiz-hearder">
        <h4 id="question">6.Quelle série,lancée en 2013 est connue pour être la première série Netflix ?</h4>
        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer" />
                <label for="a" id="a_text">The Crown</label>
            </li>
            <li>
                <input type="radio" name="answer" id="b" class="answer" />
                <label for="b" id="b_text">Narcos</label>
            </li>
            <li>
                <input type="radio" name="answer" id="c" class="answer" />
                <label for="c" id="c_text">House Of Cards</label>
            </li>
            <li>
                <input type="radio" name="answer" id="d" class="answer" />
                <label for="d" id="d_text">Mad Men</label>
            </li>
        </ul>
    </div>
    <button id="submit">Répondre</button>
  </div>

  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">
        <h4 id="question">Quel célèbre artiste est représenté sur les masques de la série "Casa de Papel ?"  </h4>
        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer" />
                <label for="a" id="a_text">Salvador Dali</label>
            </li>
            <li>
                <input type="radio" name="answer" id="b" class="answer" />
                <label for="b" id="b_text">Paco Rabanne</label>
            </li>
            <li>
                <input type="radio" name="answer" id="c" class="answer" />
                <label for="c" id="c_text">Pablo Picasso</label>
            </li>
            <li>
                <input type="radio" name="answer" id="d" class="answer" />
                <label for="d" id="d_text">Francisco De Goya</label>
            </li>
        </ul>
    </div>
    <button id="submit">Répondre</button>
  </div>

  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">
        <h4 id="question">8.Dans quelle série Netflix découvrons nous les possibles dérives des écrans que nous utilisons tout les jours ?</h4>
        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer" />
                <label for="a" id="a_text">MindHunter</label>
            </li>
            <li>
                <input type="radio" name="answer" id="b" class="answer" />
                <label for="b" id="b_text">The OA</label>
            </li>
            <li>
                <input type="radio" name="answer" id="c" class="answer" />
                <label for="c" id="c_text">Godbless</label>
            </li>
            <li>
                <input type="radio" name="answer" id="d" class="answer" />
                <label for="d" id="d_text">Black Mirror</label>
            </li>
        </ul>
    </div>
    <button id="submit">Répondre</button>
  </div>

  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">
        <h4 id="question">9.Laquelle de ces séries n'est pas une série originale Netflix ?</h4>
        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer" />
                <label for="a" id="a_text">Les nouvelles aventures de Sabrina</label>
            </li>
            <li>
                <input type="radio" name="answer" id="b" class="answer" />
                <label for="b" id="b_text">The Boys</label>
            </li>
            <li>
                <input type="radio" name="answer" id="c" class="answer" />
                <label for="c" id="c_text">Messiah</label>
            </li>
            <li>
                <input type="radio" name="answer" id="d" class="answer" />
                <label for="d" id="d_text">Plan Coeur</label>
            </li>
        </ul>
    </div>
    <button id="submit">Répondre</button>
  </div>

  <div class="quiz-container" id="quiz">
    <div class="quiz-hearder">
        <h4 id="question">10.Quel épisode pilot est connu pour être le plus cher de la télé américaine ?</h4>
        <ul>
            <li>
                <input type="radio" name="answer" id="a" class="answer" />
                <label for="a" id="a_text">Lost : Les Disparus</label>
            </li>
            <li>
                <input type="radio" name="answer" id="b" class="answer" />
                <label for="b" id="b_text">Friends</label>
            </li>
            <li>
                <input type="radio" name="answer" id="c" class="answer" />
                <label for="c" id="c_text">Desperate Housewives</label>
            </li>
            <li>
                <input type="radio" name="answer" id="d" class="answer" />
                <label for="d" id="d_text">Heroes</label>
            </li>
        </ul>
    </div>
    <button id="submit">Répondre</button>
  </div>

  
</body>
</html>