<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/reponses.css">
    <title>Réponses au quiz</title>
</head>

<body>

<!-- mettre le header -->
    <div class="reponses">
    <h1>Et voici les bonnes réponses :</h1>

    <p>1.Dans "The Wire", quel est le personnage préféré de Barack Obama : <span class="centrer-reponses">Omar Little</span></p></p>

    <p> 2.Quel est l'animal empaillé de JD dans la série "Scrubs" :<span class="centrer-reponses"> Un chien</span></p>

    <p>3.De quelle série est issue la phrase :"La nuit se regroupe et voici que commence ma garde" :<span class="centrer-reponses"> Games Of
            Thrones</span></p></p>

    <p> 4.Comment s'appelle le chef de la police dans la série "Les Simpson" : <br><span class="centrer-reponses">Clancy Wiggums</span></p>

    <p> 5.De combien d'épisodes et composée la dernière saison de "Breaking Bad" : <span class="centrer-reponses">16</span></p>

    <p> 6.Quelle série, lancée en 2013, est aussi connue pour être la première série Netflix :<span class="centrer-reponses"> House Of Cards</span></p>

    <p> 7.Quel célèbre artiste est représenté sur les masques de la série "Casa De Papel" : <span class="centrer-reponses">Salvador Dali</span></p>

    <p> 8.Dans quelle série Netflix découvrons nous les dérives possibles des écrans que nous utlisons tout les jours :
       <span class="centrer-reponses"> Black Mirror</span></p>

    <p> 9.Laquelle de ces séries n'est pas une série originale Netflix :<span class="centrer-reponses"> The Boys</span></p>
</div>

</body>

</html>